* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Roboto Slab";
  src: url(/fonts/RobotoSlab-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Comforter Brush";
  src: url(/fonts/ComforterBrush-Regular.ttf);
}
@font-face {
  font-family: "Pacifico";
  src: url(/fonts/Pacifico-Regular.ttf);
}
:root {
  --header-height: 12vh;
  --footer-height:10vh;
  --content-min-height: calc(100vh - ((var(--header-height)) + (var(--footer-height))));
}
html {
  width: 100%;
  font-family: 'Roboto Slab';
}
#header {
  display: flex;
  position: fixed;
  width: 100%;
  height: var(--header-height);
  top: 0;
  left: 0;
}
#top_panel {
  display: grid;
  width: 100%;
  grid-template-columns: 5vw 15vw 1fr;
  grid-template-rows: var(--header-height);
  grid-template-areas:
  "logo logo navbar";
}
#logo_click {
  grid-area: logo;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  cursor: pointer;
  background: content-box linear-gradient(90deg, #9346A6, #E396F6 30%);
  border-bottom: 8px solid #BBAACC;
}
#logo_click img {
  display: flex;
  width: 200px;
  height: 189px;
  padding-top: 10px;
}
.navbar {
  grid-area: navbar;
  background: content-box linear-gradient(90deg, #E396F6, #9346A6 20%);
  border-bottom: 8px solid #BBAACC;
}
.nav_wrap {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
input[type="checkbox"] {
  display: none;
}
.nav_wrap label {
  display: none;
  padding: 15px;  
  border-radius: 10px;
  color: #DDDDDD;
  font-size: 1.3rem;
  text-shadow: 2px 2px #000000;
  transition: .2s linear;
  cursor: pointer;
}
.nav_wrap label:hover {
  box-shadow: 2px 2px 4px 0 #000000;
  color: #FFFFFF;
}
.nav_wrap ul {
  display: flex;
  position: relative;
  left: -5vw;
  gap: 5vw;
}
.nav_wrap li {
  display: flex;
  list-style-type: none;
  padding: 15px;  
  border-radius: 10px;
  transition: .2s linear;
}
.nav_wrap li:hover {
  box-shadow: 2px 2px 4px 0 #000000;
}
.nav_wrap a {
  text-decoration: none;
  font-size: 1.3rem;
  color: #DDDDDD;
  text-shadow: 2px 2px #000000;
}
.nav_wrap a:hover {
  color: #FFFFFF;
}
.container {
  display: flex;
  width: 100%;
  min-height: var(--content-min-height);
  margin-top: var(--header-height);
  margin-bottom: var(--footer-height);
  background: center / cover url("/images/nausika_bg_big.jpg");
}
.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: var(--content-min-height);
  height: fit-content;
  background: rgba(255, 255, 255, 0.85);
}
#epigraph {
  display: grid;
  width: 100%;
  grid-template-columns: 70vw 30vw;
  grid-template-columns: 75vw 25vw;
  font-family: 'Pacifico';
  line-height: 1.7rem;
}
#epi_txt {
  margin-top: 4vh;
  margin-right: 1vw;
  color: #F52020;
  font-size: 1.5rem;
  font-style: italic;
}
#epi_cit {
  margin-top: 1vh;
  text-align: center;
  color: #9346A6;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
}
.red_c {
  color: #F52020;
  font-size: 1.3em;
}
#lilac_c {
  color: #9346A6;
  font-size: 1.3em;
}
.content h1 {
  color: #9346A6;
  font-size: 3.4rem;
  font-weight: 500;
  letter-spacing: -2px;
  margin: 5vh auto 0.1vh auto;
  text-align: center;
}
.content p {
  width: 80%;
  margin: 3vh auto;
  align-self: center;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 4.5rem;
  /* color: #85A000; */
}

/* Подвал */
.footer {
  position: fixed;
  display: flex;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #000000;
  background: content-box linear-gradient(90deg, #ddddff, #bbaacc 30% 70%, #ddddff);
  height: var(--footer-height);
}
.footer_wrap {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 30% 70%;
  grid-template-areas:
  "f-logo f-logo s-map-h s-map-h s-map-h f-addr-h f-addr-h f-addr-h f-cont f-cont f-cont f-cont"
  "f-logo f-logo s-map s-map s-map f-addr f-addr f-addr f-copy f-copy f-copy f-copy";
}
#footer_logo {
  grid-area: f-logo;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#footer_logo img {
  width: 80px;
  height: 75px;
}
#site_map_header {
  grid-area: s-map-h;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
}
#site_map {
  grid-area: s-map;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  gap: 1.5vw;
  font-size: 0.9rem;
  line-height: 1.3;
}
#site_map div {
  display: flex;
  flex-direction: column;
}
#site_map a {
  text-decoration: none;
  color: #444444;
}
#site_map a:hover {
  text-decoration: underline;
}
#footer_addr_h {
  grid-area: f-addr-h;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
}
#footer_addr {
  grid-area: f-addr;
  display: flex;
  justify-content: center;
  align-items: baseline;
  text-align: center;
  color: #444444;
  font-size: 1.1rem;
  line-height: 1.5rem;
}
#footer_contact {
  grid-area: f-cont;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.4rem;
  border-bottom: 1px solid #000000;
}
#footer_copyrt {
  grid-area: f-copy;
  display: flex;
  font-family: "Comforter Brush";
  font-weight: 700;
  font-size: 1.3rem;
  text-shadow: 1px 1px #FFFFFF;
  letter-spacing: 7px;
  justify-content: center;
  align-items: center;
}
#year {
  color: #9346A6;
}
#red_letter {
  color: #F52020;
}
#footer_copyrt::after {
  content: ".";
  color: #F52020;
  font-weight: 900;
}

/* Медиа запросы */
/* Для умеренно больших экранов */
@media screen and (max-width: 1500px) {
  #top_panel {
    grid-template-columns: 10vw 15vw 1fr;
  }
  #epigraph {
    grid-template-columns: 65vw 35vw;
    grid-template-columns: 70vw 30vw;
  }
}
/* Для мелких экранов */
@media screen and (max-width: 1300px) {
  #top_panel {
    grid-template-columns: 9vw 15vw 1fr;
  }
  .nav_wrap ul {
    gap: 3vw;
  }
  #epigraph {
    grid-template-columns: 55vw 45vw;
    grid-template-columns: 60vw 40vw;
  }
  .content p {
    width: 97%;
    font-size: 2rem;
    line-height: 4rem;
  }
  .footer_wrap {
    grid-template-areas:
  "f-logo f-logo s-map-h s-map-h s-map-h f-addr-h f-addr-h f-cont f-cont f-cont f-cont f-cont"
  "f-logo f-logo s-map s-map s-map f-addr f-addr f-copy f-copy f-copy f-copy f-copy";
  }
  #site_map {
    gap: 3vw;
  }
  #footer_contact {
    font-size: 1.2rem;
  }
}
/* Для различных Pad-ов */
@media screen and (max-width: 1000px) {
  #logo_click img {
    width: 180px;
    height: 171px;
  }
  .nav_wrap ul {
    gap: 0vw;
  }
  .nav_wrap li {
    padding: 10px;
  }
  #epigraph {
    grid-template-columns: 45vw 55vw;
    grid-template-columns: 50vw 50vw;
  }
  #footer_addr {
    font-size: 1.1rem;
    line-height: 1.2;
  }
  #footer_addr {
    font-size: 1rem;
  }
  #footer_contact {
    font-size: 1rem;
  }
  #footer_copyrt {
    font-size: 1.5rem;
    letter-spacing: 3px;
  }
}
/* Для мелких Pad-ов */
@media screen and (max-width: 800px) {
  .content h1 {
    font-size: 3rem;
  }
  .content p {
    line-height: 3rem;
  }
}
/* Для средних смартфонов */
@media screen and (max-width: 767px) {
  #top_panel {
    grid-template-columns: 15vw 20vw 1fr;
  }
  #logo_click img {
    width: 100px;
    height: 105px;
  }
  .nav_wrap label {
    display: flex;
  }
  .nav_wrap > ul {
    display: none;
    left: 50vw;
    right: 5vw;
  }
  .nav_wrap li {
    display: flex;
    padding: 5px;
  }
  .nav_wrap li a {
    padding-left: 10px;
  }
  input[type="checkbox"]:checked ~ label + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: var(--header-height);
    background: rgba(147, 70, 166, 0.95);
    padding: 10px;
    border: 1px solid #000000;
    box-shadow: 1px 2px 5px #000000;
    border-radius: 10px;
  }
  .container {
    margin-bottom: 0;
  }
  .content {
    margin-bottom: 0;
  }
  #epigraph {
    display: none;
  }
  .content h1 {
    font-size: 2.5rem;
  }
  .content p {
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin-bottom: 5vh;
  }
  .footer {
    position: static;
    height: fit-content;
    min-height: fit-content;
  }
  .footer_wrap {
    grid-template-columns: repeat(2, 12vw) repeat(4, 1fr);
    grid-template-rows: minmax(4vh, max-content);
    grid-template-areas:
    "f-logo f-logo s-map-h s-map-h f-addr-h f-addr-h"
    "f-logo f-logo s-map s-map f-addr f-addr"
    "f-cont f-cont f-cont f-cont f-cont f-cont"
    "f-copy f-copy f-copy f-copy f-copy f-copy";
  }
  #footer_logo {
    border-bottom: 1px solid #000000;
  }
  #site_map {
    justify-content: space-evenly;
    border-bottom: 1px solid #000000;
    padding-bottom: 5px;
  }
  #footer_addr {
    border-bottom: 1px solid #000000;
  }
  #footer_contact {
    padding: 5px;
  }
  #footer_copyrt {
    padding: 10px;
    font-size: 1.2rem;
  }
}
/* Для мелких (eXtra Small) смартфонов */
@media screen and (max-width: 375px) {
  #logo_click img {
    width: 80px;
    height: 85px;
  }
  .nav_wrap label {
    padding: 5px;
  }
  .nav_wrap > ul {
    left: 40vw;
  }
  .content h1 {
    font-size: 2rem;
  }
  .content p {
    font-size: 1.2rem;
  }
  .footer_wrap {
    grid-template-columns: 30% 70%;
    grid-template-rows: minmax(4vh, max-content);
    grid-template-areas:
    "f-logo s-map-h"
    "f-logo s-map"
    "f-addr-h f-addr-h"
    "f-addr f-addr"
    "f-cont f-cont"
    "f-copy f-copy";
  }
  #footer_logo {
    margin-bottom: 5px;
    padding-bottom: 5px;
  }
  #site_map {
    margin-bottom: 5px;
    padding-bottom: 5px;
  }
  #footer_addr {
    padding-bottom: 5px;
  }
}
