* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Roboto Slab';
    src: url(/fonts/RobotoSlab-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Comforter Brush';
    src: url(/fonts/ComforterBrush-Regular.ttf);
}
@font-face {
    font-family: 'Pacifico';
    src: url(/fonts/Pacifico-Regular.ttf);
}
:root {
    --font-header-style: 'Pacifico';
    --font-text-style: 'Roboto Slab';
}
html {
    width: 100%;
}
.container {
    display: flex;
    flex-direction: column;
}
h1 {
    margin: 5% auto;
    font-family: var(--font-header-style);
    font-size: 3rem;
    font-weight: 600;
}
p {
    width: 70vw;
    margin: 0 auto;
    align-self: center;
    text-align: center;
    font-family: var(--font-text-style);
    font-size: 1.5rem;
}