* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Roboto Slab";
  src: url(/fonts/RobotoSlab-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Comforter Brush";
  src: url(/fonts/ComforterBrush-Regular.ttf);
}
@font-face {
  font-family: "Pacifico";
  src: url(/fonts/Pacifico-Regular.ttf);
}
:root {
  --header-height: 12vh;
  --footer-height:10vh;
  --content-min-height: calc(100vh - ((var(--header-height)) + (var(--footer-height))));
}
html {
  width: 100%;
  font-family: 'Roboto Slab';
}